 /* Center all elements */
* {
text-align: center !important;
}

 /* Make input with text type black */
.md-form input[type=text]:focus {
    box-shadow: 0 1px 0 0 black !important;
    border-bottom: 1px solid black !important;
    text-align: center !important;
}

/* Make range slider black */
input[type=range]::-webkit-slider-thumb {
    background: black;
    color: black;
}
input[type=range]::-moz-range-thumb {
    background: black;
    color: black;
}
input[type=range]::-ms-thumb {
    background: black;
    color: black;
}

 /* Make input label black */
label {
    color: black !important;
}