* {
text-align: center !important;
}

.md-form input[type=text]:focus {
    box-shadow: 0 1px 0 0 black !important;
    border-bottom: 1px solid black !important;
    text-align: center !important;
}

label {
    color: black !important;
}